---

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title='Monks basketball'>
	<main>
		<div class="hero text-center pt-32 pb-20">
  <h1 class="text-6xl md:text-7xl lg:text-[5.5rem] xl:text-[6.5rem] 
             font-black tracking-[-0.04em] leading-[0.95] text-white">
    Baloncesto
  </h1>
  
  <h1 class="text-6xl md:text-7xl lg:text-[5.5rem] xl:text-[6.5rem] 
             font-black tracking-[-0.04em] leading-[0.95] text-orange-700">
    Monks
  </h1>
  
  <h1 class="text-6xl md:text-7xl lg:text-[5.5rem] xl:text-[6.5rem] 
             font-black tracking-[-0.04em] leading-[0.95] text-white">
    Macas
  </h1>
</div> 
<div class="max-w-7xl mx-auto px-6 lg:px-10 py-10">
<h2 class="text-3xl font-bold text-orange-700 text-center mb-10 inline-block border-b-2 border-transparent hover:border-orange-500">Horario</h2>


<div class="flex flex-col lg:flex-row gap-8 justify-center items-center">
    
    <!-- Caja 1 -->
    <div class="bg-grey-100  border-gray-100 rounded-xl px-6 py-4 w-73 shadow-sm">
      <p class="text-sm font-semibold text-gray-400 mb-1">📍Localizacion</p><br>
      <p class="text-sm font-semibold text-gray-400 mb-1">Escuela Eloy Alfaro,  Macas, Morona Santiago.</p> <br>
	  <a href="https://www.google.com/maps/place/Escuela+Eloy+Alfaro/@-2.303423,-78.1181895,19.28z/data=!4m15!1m8!3m7!1s0x91d20f68d9f7915b:0x995a67164e439e3c!2sEloy+Alfaro,+Macas,+Equador!3b1!8m2!3d-2.30702!4d-78.1249027!16s%2Fg%2F11b6gm13v2!3m5!1s0x91d20f648d416c6b:0xd214dc6c30a3ee19!8m2!3d-2.3035548!4d-78.1177816!16s%2Fg%2F11g8ldzpr_?entry=ttu&g_ep=EgoyMDI2MDMyMi4wIKXMDSoASAFQAw%3D%3D" class="text-sm font-semibold text-gray-400 mb-1">🗺️ Puedes Encontrar aqui el lugar.</a>
    </div>

    <!-- Caja 2 -->
    <div class="bg-grey-100  border-gray-100 rounded-xl px-6 py-6 w-73 shadow-sm">
      <p class="text-sm font-semibold text-gray-400 mb-1">Tarde</p>
      <p class="text-sm font-semibold text-gray-400 mb-1">14:00 - 18:00</p>
      <p class="text-sm font-semibold text-gray-400 mb-1">14:00 - 18:00</p>
      <p class="text-sm font-semibold text-gray-400 mb-1">14:00 - 18:00</p>
      <p class="text-sm font-semibold text-gray-400 mb-1">14:00 - 18:00</p>
	  
    </div>
</div>
</div>
</main>
</Layout>
