---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Noticias">
  <h1>Últimas noticias</h1>
  <ul>
    <li>Noticia 1 – 19 de marzo 2026</li>
    <li>Noticia 2 – algo interesante pasó</li>
  </ul>
</Layout>