--- 

---
<div class="footer mb-12 px-8">
     <div class="flex flex-col items-center">

    <p class="text-lg font-bold text-orange-700 ml-20">
      © 2026 Monks Baloncesto. All rights reserved.
    </p> 
<nav class="flex items-center gap-6">
    <p>Contáctanos</p>

        <a href="mailto:baskmonca30@gmail.com">
          📧  Email
        </a>
        <a href="https://wa.me/593989061017" target="_blank" rel="noopener">
            📞WhatsApp
        </a>
</nav>
</div>
</div>
