--- 

---
<div class="footer flex items-center  max-w-7xl mx-auto  px-6 lg:px-10 py-6">
     
<nav class="text-xs md:flex w-full items-center justify-start gap-x-10 text-base font-medium">
    <p>Contáctanos:</p>

        <a class="text-xs text-white border-b-2 border-transparent hover:border-orange-500" href="mailto:baskmonca30@gmail.com">
          📧  Email
        </a>
        <a class="text-xs text-white border-b-2 border-transparent hover:border-orange-500"href="https://wa.me/593989061017" target="_blank" rel="noopener">
            📞WhatsApp
        </a>
</nav>

<div class="flex flex-col items-center">
    <p class="text-[10px] font-bold text-orange-700 hover:text-orange-600  transition-colors duration-200">
      © 2026 Monks Baloncesto. All rights reserved.
    </p> 
    </div>
</div>
