---

const userEmail = Astro.cookies.get("userEmail")
---

<div class="max-w-7xl mx-auto mx-auto px-6 lg:px-10 py-6 flex items-center justify-between">

   
<a
href="/"
class="text-3xl font-bold text-orange-700 hover:text-orange-600 underline decoration-white  transition-colors duration-200">
Monks
</a>


<!--Menu --> 

<nav class="hidden md:flex w-full items-center justify-center gap-x-10 text-base font-medium">
<a href="/" class="text-black border-b-2 border-transparent hover:border-orange-500">Inicio</a>
<a href="/sobre" class="text-black border-b-2 border-transparent hover:border-orange-500">fotografias</a>
<a href="/news" class="text-black border-b-2 border-transparent hover:border-orange-500">Noticias</a>

 </nav>

 </div>
