--- 

type Props = {
text: String;



};

const { text}  = Astro.props

--- 


<h1>Bievenidos al club Monks, un lugar donde todavia nos importa el baloncesto fundada por el Lic Luis Moncayo al cual dedico su vida al baloncesto y a sus hijos</h1>
